body{
    background-image: url('../image/planeta.jpg');
    margin:0px;
    padding:0px;
    text-align: center;
    }
#wrap{
    margin: auto;
    max-width:960px;
    padding: 0px;
}

    /*  NAV */
    nav{
        background-color: #76abd7;
    }
    nav ul li a{
        list-style-type: none;
        margin: 0px;
        padding-top: 1%;
        padding-bottom: 1%;
        color: white;
        font-family:verdana;
        font-size: 1.1em;
        text-decoration: none;
    }
    nav ul{
        list-style-type:none; /*élimine les puces*/
        padding :0px; /*élimine l’espace par défaut de la liste à puce*/
    }
    nav ul li{
        display:inline-block; /*aligne les li côte à côte*/
    }
    .bouton { /*apparence des boutons*/
        background-color: #76abd7;
        color: white;
        font-family:verdana;
        padding: 20px;
        font-size: 1.1em;
        text-decoration: none;
        border: none;
    }
    .deroule {
        position: relative;
        display: inline-block;
    }
    .deroule-contenu { /*apparence de la liste qui se déroule*/
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .deroule-contenu a { /*apparence des liens dans la liste qui se déroule*/
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .deroule-contenu a:hover {background-color: #ddd;}  /*apparence des liens dans la liste qui se déroule quand j’hover*/
    .deroule:hover .deroule-contenu {display: block;}
    
    nav ul li a:hover {
        color:red; 
    }
    .bouton:hover{
        color: red;
    }


/*  IMMAGE */
    .drapeau{
        display: flex;
        justify-content: center;
    }
.main{
    display: flex;
    background-color: antiquewhite;
    padding: 2%;
}
.start{
    text-align: start;
    text-decoration: none;
    list-style-type: none;
}

a{
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
.text{
    padding: 1%;
    font-size: 18px;
    background-color: antiquewhite;
}
.apropo{
    padding: 2%;
}
audio{
    margin-bottom: 2%;
}

/* ADD FOOTER */
footer{
    background-color: #D3D3D3;
    padding: 2%;
    }
footer a{
    list-style-type: none;
    margin: 0px;
    padding-top: 1%;
    padding-bottom: 1%; 
}
    footer a{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
footer a{
    color: #1E90FF;
    font-size: 1.3em;
    text-decoration: none; 
}
footer a:hover{
    color:red;
}

/* ICONS CHANGE */
.social li{
	display: inline-block;
    margin-top: 2%;
}
.iconsy {
	display: block;
	background: url(../image/sprite.png) no-repeat;
	width: 38px;
	height: 38px;
    -webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}
.tw {
	background-position: -38px 0;
}
.in {
	background-position: -76px 0;
}
.fb:hover {
	background-position: 0 -38px;
}
.tw:hover {
	background-position: -38px -38px;
}
.in:hover {
	background-position: -76px -38px;
}
.faq{
    list-style: none;
    text-align: start;
}




@media all and (max-width: 912px){
    body{
        margin: 3%;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .parlament{
        display: flex;
        width: 100%;
    }
        footer{
        display: flex;
        flex-direction: column-reverse;
    }
    .grotte{
        width: 100%;
    }
    .youtube{
        display: flex;
        width: 100%;
    }



/*  Menu Sandwich */
    /* Hides the nav menu*/

    .menu{
        display: none;
    } 
    #btn-menu + label:before{
        content: '\f0c9';  
        display: inline-block;
        font-family:'FontAwesome';
        font-size: 22px;
    }
    
    #btn-menu:checked + label:before{
        content: '\f00d';
        color: #f00;
    }
.hamburger-menu{
    display: block;
}

/* remove image animation */

.list-menu{
    display: flex;
    list-style: none;
}
.list-menu > li > a{
    color: #fff;
    display: block;
    padding: 5px 15px;
}
.list-menu > li > a:hover{
    background:#213d4a ;
} 
    #btn-menu{
    display: none;
    }
    #btn-menu + label{
        display: none; 
        position: relative;
        color: #fff; 
        height: 20px;
        z-index: 1;
        cursor: pointer;
    }

         /* style the button */
        .menu__btn {
            display: flex; /* use flex to center content */
            align-items: center;  /* center button content*/
            position: fixed;
            top: 20px;
            left: 20px;
            width: 26px;
            height: 26px;
            cursor: pointer;
            z-index: 1;
            background: blue;
        }

    /* add hamburger */
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: azure;
    }
    .menu__btn > span::before {
    content: '';
    top: -8px;
    }
    .menu__btn > span::after {
    content: '';
    top: 8px;
    }   
    
      /* menu container */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden; 
    top: 0;
    width: 300px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1; 
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
      /* menu items */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #BD4291;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.menu__item:hover {
    background-color: #CFD8DC;
}

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    } 
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    } 
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    } 
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    } 
    #menu__toggle{
        display: none;
    }

}